/* custom environments */

.rstudio-cloud {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1pt solid #a8a8a8;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("icons8-window-cloud-100.png");
}
.rstudio-cloud:before {
  content: "RStudio Cloud: ";
  clear: right;
  display: block;
  font-weight: bold;
  color: #5286C2;
}


.video {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("icons8-documentary-100.png");
}

.reading {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("icons8-study-100.png");
}

.package {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 5px;
  background: #ffffff 5px center/3em no-repeat;
  background-image: url("icons8-box-100.png");
}


/* overwrite bs4_book style */

img.cover {
  box-shadow: none;
}

.inline-figure {
  border: none;
}

/* overwrite default style */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
